@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Henny+Penny&family=Passion+One&family=Righteous&family=Sarala:wght@400;700&family=Sriracha&display=swap');

:root {    
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{ /*feito para ganhar espaco para o efeito paralaxe,com 10% view height em cima e em baixo*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espacamento ente as frases*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.139);
    padding: 5px;

}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(70, 69, 69);
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}